{{#partial "content"}}
    <div class="mainer"  >
        <div class="w-90" style="border-radius: 10px; background-image: url(images/listBg.jpg);">
            <div class="holder" style=" height: 800px; background-color: rgba(0, 50, 50, 0.5);" >
                <div class="tables">
                    <h2 class="text-center text-white">Here are all Citings Made</h2>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">ID </th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Ranger Name</th>
                                    <th scope="col">Animal ID</th>

                                </tr>
                                </thead>
                                <tbody>

                                {{#if "content"}}
                                    <tr>
                                        <th scope="row">{{id}}</th>
                                        <td>{{location}}</td>
                                        <td>{{ranger_name}}</td>
                                        <td>{{animal_id}}</td>
                                    </tr>
                                {{/if}}


                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}