{{#partial "content"}}
    <br><br><br>
    <div style="text-align: center; color: wheat;">
        <h1>Welcome to Wild Tracker App</h1>
        <p>We track and help rescue animals</p>
    </div>
<!---->
    <div class="container text-center" style="color:white;">
        <div class="row">
            <div class="col-md-6">
                <img src="images/cheetah.jpg" alt="" style="height: 300px; width: 300px; border-radius: 50%;">
                <h3>Have a look at all Animal?</h3>
                <p>Check out?</p>

                <a href="/allAnimals"><button class="btn btn-primary" >Check out all Animals </button></a>

            </div>
            <div class="col-md-6">
                <img src="images/rat.jpg" alt="" style="height: 300px; width: 300px; border-radius: 50%;">
                <h3>Have you spotted an Endangered Animal?</h3>
                <p>Make a new sighting</p>

                <a href="/new-animal"><button class="btn btn-primary" >Create new Endangered</button></a>

            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="container text-center" style="color:white;">
        <div class="row">
            <div class="col-md-6">
                <img src="images/bluebird.jpg" alt="" style="height: 300px; width: 300px; border-radius: 50%;">
                <h3>Seen an Animal?</h3>
                <p>Make a new sighting record</p><br>
                <a href="/new-sight"><button class="btn btn-primary" >Add new sightings</button></a>
            </div>
            <div class="col-md-6">
                <img src="images/panda.jpg" alt="" style="height: 300px; width: 300px; border-radius: 50%;">
                <h3>Want to know all sighted animals?</h3>
                <p>Have a look at all animals that have been recorded</p><br>
                <a href="/allSighting"><button class="btn btn-primary" >See All sightings</button></a>
            </div>
        </div>
    </div>
<!--    To show all available animals in DB-->


{{/partial}}
{{> layout.hbs}}
