{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3 text-center">
                <h3>Have you encountered an Endangered Animal?</h3>

                <a href="/new-animal"><button class="btn btn-primary" >Add new Endangered</button></a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}
