<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Heroes & Heroines {{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body style=" overflow-x: hidden; color:white:">


        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation" ><a href="/new-sight">Create a new Sight</a></li>
            <li role="presentation"><a href="/new-animal">Create a new Endangered</a></li>

        </ul>
    <!--begin main template-->

<div style="background-image: url(images/backround.jpg); background-attachment: fixed;">
    <div style="background-color: rgba(0, 0, 60, 0.5);padding-bottom: 50px; background-attachment: fixed;">

        <div >
            {{#block "content"}}

            {{/block}}

        </div>
    </div>
</div>

<!--end main template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}