{{#partial "content"}}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <br><br><br><br>
            <h3 style="color:white;">
                Create new Sighting
            </h3>
            <br><br>
            <form action="sightSuccess" method="post" style="border: 1px solid green; border-radius: 10px;padding: 10px; color:white; background-color: rgba(0, 30, 0, 0.8);">
                <!--  -->
                <label for="newSight">Animal ID</label>
                <input type="number" name="animal_id" id="animal_id" class="form-control">
                <!--  -->
                <label for="location">Sightings.Sighting Location</label>
                <select name="location" id="location" class="form-control">
                    <option value=""></option>
                    <option value="River">Near River Banks</option>
                    <option value="Hillside">Hill side</option>
                    <option value="Northern">Northern Park</option>

                </select>                <!--  -->
                <label for="rangerName">Ranger Name</label>
                <select name="rangerName" id="rangerName" class="form-control">
                    <option value=""></option>
                    <option value="Kenneth">Kenneth</option>
                    <option value="Dennis">Dennis</option>
                    <option value="Mercy">Mercy</option>
                    <option value="Esther">Esther</option>
                </select>
                <!--  -->
                <br>
                <button type="submit" class="btn btn-success">Submit Sightings</button>

            </form><br>
            <button class="btn btn-primary" href="/">Back Homepage</button>

        </div>
        <div class="col-md-3"></div>


    </div>
{{/partial}}
{{> layout.hbs}}