{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card" style="width: 38rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{name}} New sighting succesfully added</h3>
                        <p class="card-text">
                            Sight Animal Id is: {{animalId}}<br>
                            <br>
                            New Sight Location  is: {{location}}<br><br>

                            Ranger Name:  {{rangerName}}<br>

                        </p>
                        <a href="/new-animal" class="btn btn-info">Add new Animal</a>
                        <br><br>
                        <a href="/" class="btn btn-primary">Back Homepage</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}